:root{
    --cream: #EC8F5E;
    --org: #F3B664;
    --lightorg:#F1EB90;
    --green:#9FBB73;
    --violet:#860A35;
    --grey:#B0A695;
    --blue:#435585;
    --pale:#F5E8C7;
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    color: black;
    background-color: var(--grey);
    padding: 0;
    margin: 0;
}
#intro{
    padding:4rem 1rem 10rem 1rem;  /* TRBL */
    max-width: 1200px;
    margin: 0 auto;
}
#intro p{
    color: var(--violet);
    line-height: 2.5;
    font-size: 1.5rem;
}
#intro h2{
    font-size: 3rem;
}
.name span{
    display: block;
    font-size: 1.5rem;
}
.profile p{
    font-weight: normal;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.img{
    max-width:354px ;
    max-height:500px ;
}
.img img{
    width: 100%;
    height: 400px;
    margin: 1rem 0;
    border-radius: 8px;
}
#experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 5rem; */
}
#experience ul{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2;
    max-width: 400px;
    border: solid white 2px;
    border-radius: 8px;
    background-color: var(--cream);
    padding: 1rem;
}
#experience li{
    list-style-type: none;
}
#experience a {
    color: var(--violet);
}
.exp{
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem;
    height: 50px;
    background-color: var(--violet);
}
.exp h3{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -15px;
}
.hire{
    width: 400px;
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
}
.hire p:last-child{
   margin-top: 3rem;
}
.footer{
    margin-top: 1rem;
    background-color: var(--violet);
}
nav{
    font-size: 80%;
    padding: 1rem;
    background-color: var(--violet);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
    flex-flow: row wrap;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: underline;
    color: var(--violet);
    font-size: 1.2rem;
}
nav li:first-child{
    /* flex-grow: 1; we will write a media quert to bring this back. */
    font-size: 1.5rem;
    margin-left: 3rem;
    flex-basis: 100%;
}
.button{
    background-color: orangered;
    padding: 0.5rem;
    border-radius: 5px;
}
.button:hover{
    background: linear-gradient(90deg, rgba(151,91,191,1) 8%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 92%);
}
@media(min-width:900px){
    nav li:first-child{
       flex-grow: 1; 
       flex-basis: auto;
    }
}
.gradient{
    background: linear-gradient(90deg, rgba(151,91,191,1) 8%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 92%);
    height: 2px;
}
.end{
    text-align: center;
    padding: 2rem 0;
}
